<button (click)="decrement()" class="btn btn-danger">  -  </button> &nbsp;  <span *ngIf="compteurValue>0">{{compteurValue}}</span>  &nbsp;
<button (click)="increment()" class="btn btn-success">  +  </button>
<br>
<div>
<ul [style.color]="'red'" [ngSwitch]="jour">
  <li  *ngSwitchCase="1">Lundi</li>
  <li *ngSwitchCase="2">Mardi</li>
  <li *ngSwitchCase="3">Mercredi</li>
  <li *ngSwitchCase="4">Jeudi</li>
  <li *ngSwitchCase="5">Vendredi</li>
  <li *ngSwitchCase="6">Samedi</li>
  <li *ngSwitchCase="7">Dimanche</li>

</ul>

</div>
